::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #831843;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #be185d;
    border-radius: 5px;
}
 